.navigation
  .cell
    %a.logo{href: 'http://www.projectjellyfish.org'}
      .logo-icon
        = image_tag "/assets/images/logo-icon.svg"
      .logo-type
        = image_tag "/assets/images/logo-type.svg"
    %nav
      = link_to 'Features', '/projectjellyfish/documentation/about-project/features'
      = link_to 'Roadmap', '/projectjellyfish/documentation/about-project/roadmap'
      = link_to 'Documentation', '/projectjellyfish/documentation/getting-started/overview-and-requirements'
      = link_to 'How&nbsp;to&nbsp;Engage', '/projectjellyfish/#how-to-engage'
