.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

  .cell.row.tac

    .jellyfish-header.jellyfish--tagline
      %h1 Open Cloud
      = image_tag("jellyfish-header.png")
      %h1 Connectivity

    .g
      .g-b.g-b--m--1of3.mtl
        .cell.cell--s
          %h4 What Is It?
          %p
            Project Jellyfish is a community-driven open source cloud broker that unifies disparate cloud services across multiple private, public and hybrid cloud infrastructure, resulting in automated and rapid service delivery, comprehensive performance and cost monitoring, standardized configuration management, and customizable workflows. Project Jellyfish is built by an open community of developers, designers and end users. Learn how you can contribute to this growing community.
          %a.btn.btn--blue{href: '/documentation/get-involved/how-to-contribute'} How to Contribute
      .g-b.g-b--m--1of3.fr.mtl
        .cell.cell--s
          %h4 Download
          %p.tss
            Project Jellyfish is available as a free download through
            any of these open source distributions:
          = link_to 'https://github.com/booz-allen-hamilton/projectjellyfish', class: 'btn btn--logo' do
            = image_tag("logo-github.svg")
          = link_to 'https://supermarket.chef.io/users/boozallenhamilton', class: 'btn btn--logo' do
            = image_tag("logo-chef.svg")
          = link_to 'http://manageiq.org/', class: 'btn btn--logo' do
            = image_tag("logo-manage.svg")
          %p.tsxs
            Current version: 2.4.1b
            %span.mls.mrs.tcs|
            = link_to 'Read the documentation', '#'

    .jellyfish-header.jellyfish--feature#features
      = image_tag("jellyfish-features.jpg")
      %h2 Features
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-lock.svg")
          %h5 Open Source
          %p.mbs.tss
            With proprietary solutions, users are at the mercy of a single vendor’s product roadmap and licensing strategy. By removing company boundaries associated with proprietary solutions, developers can participate, debate, collaborate, and promote further innovation to produce quality code while avoiding vendor lock-in.
          %p.twb Avoid Vendor Lock-In
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-community.svg")
          %h5 Community-Driven
          %p.mbs.tss
            Not all open source projects are created equal. Community-driven open source projects can rapidly adopt and respond to evolving technologies by leverage participation/expertise from its community, represented by developers, users of various public and commercial sector organizations, academia, and vendors.
          %p.twb Leverage Community's Expertise
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modular
          %p.mbs.tss
            Extensible and modular framework allows  developers to easily infuse new technologies and build additional plug-and-play interfaces without comprising the core architecture design.
          %p.twb Change Functionalities Without&nbsp;Rearchitecting
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-manage.svg")
          %h5 Flexible
          %p.mbs.tss
            One of the greatest costs to an IT organization is people AND inconsistent or timely processes.  Broker platforms can be configured to provide automation throughout the entire lifecycle of a cloud service.
          %p.twb Customizable Automation

    .jellyfish-header.jellyfish--anatomy
      = image_tag("jellyfish-anatomy.jpg")
      %h3 Anatomy of a Jellyfish
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-core.svg")
          %h5 Core
          %p.tss
            The jellyfish core is a system that IT admins can setup to offer a service catalog, collect specific information about an item when ordering, and then take that data transform it to JSON and POST it to a URL.  Jellyfish core consists of node-js UX/UI front end and a ruby-on-rails back end accessible via a REST API.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modules
          %p.tss
            A module would be considered an add-on or plug-in to the jellyfish core.  It allows the creation of new data points to be collected, for new data to be pulled from an external systems API, and/or that data to be processed in a specific way.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-mobile.svg")
          %h5 Mobile App
          %p.tss
            The jellyfish app mirrors Jellyfish functionality for mobile devices.  The app interfaces with Jellyfish core via the REST API providing basic functionality such as catalog and project status.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-blueprint.svg")
          %h5 Blueprint
          %p.tss
            A jellyfish Blueprint is a packaged solution that formulates how to take the core jellyfish product, combine with other tools, install, configure and use for a specific problem or use case such as automated PaaS or data analytics.


    .cell.mbl#how-to-engage
      .jellyfish-header.jellyfish--engage
        = image_tag("jellyfish-engage.jpg")
        %h3 How to Engage
      %form{action: '#'}
        .g.mbs
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#name{type: 'text', name: 'name', required: 'required'}
              %label.input-label{for: 'entry_2003026827'} Full Name
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#email{type: 'text', name: 'email', required: 'required'}
              %label.input-label{for: 'entry_826366713'} Email
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#organization{type: 'text', name: 'Organization', required: 'required'}
              %label.input-label{for: 'entry_1700265725'} Organization
        .cell.cell--s
          %input.btn{type: 'submit', value: 'Make Request'}

          <form action="https://docs.google.com/forms/d/1BqRQnnrBEipQsx5V-J45eH9Q5KJL6fxxjhRc71UuqNM/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
          <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_2003026827"><div class="ss-q-title">Full Name
          </div>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
          <input type="text" name="entry.2003026827" value="" class="ss-q-short" id="entry_2003026827" dir="auto" aria-label="Full Name  " title="">
          <div class="error-message" id="1925347705_errorMessage"></div>
          <div class="required-message">This is a required question</div>
          </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_826366713"><div class="ss-q-title">Email
          </div>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
          <input type="text" name="entry.826366713" value="" class="ss-q-short" id="entry_826366713" dir="auto" aria-label="Email  " title="">
          <div class="error-message" id="1004732389_errorMessage"></div>
          <div class="required-message">This is a required question</div>
          </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
          <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1700265725"><div class="ss-q-title">Organization
          </div>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
          <input type="text" name="entry.1700265725" value="" class="ss-q-short" id="entry_1700265725" dir="auto" aria-label="Organization  " title="">
          <div class="error-message" id="12734712_errorMessage"></div>
          <div class="required-message">This is a required question</div>
          </div></div></div>
          <input type="hidden" name="draftResponse" value="[,,&quot;-3786170740154911741&quot;]
          ">
          <input type="hidden" name="pageHistory" value="0">


          <input type="hidden" name="fbzx" value="-3786170740154911741">

          <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
          <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
          <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
          </tr></tbody></table></div></ol></form>

    %h3 Partners
    .cell.cell--s
      %p.tss
        Project Jellyfish would not exist without the support
        of our growing numbers of individual and
        corporate&nbsp;contributors.
    %ul.logo.logo--list
    = link_to 'Learn more about how your company can help.', '/documentation/get-involved/how-to-contribute'

  = partial "shared/footer"
