.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

  .cell.row.tac

    .jellyfish-header.jellyfish--tagline
      %h1 Open Cloud
      = image_tag("jellyfish-header.png")
      %h1 Connectivity

    .g
      .g-b.g-b--m--1of3.mtl
        .cell.cell--s
          %h4 What Is It?
          %p.mbs.tss
            Project Jellyfish is a community-driven open source cloud broker that unifies disparate cloud services across multiple private, public and hybrid cloud infrastructure, resulting in automated and rapid service delivery, comprehensive performance and cost monitoring, standardized configuration management, and customizable workflows. Project Jellyfish is built by an open community of developers, designers and end users. Learn how you can contribute to this growing community.
          %a.btn.btn--blue{href: '/documentation/get-involved/how-to-contribute'} How to Contribute
      .g-b.g-b--m--1of3.fr.mtl
        .cell.cell--s
          %h4 Download
          %p.tss
            Project Jellyfish is available as a free download through
            any of these open source distributions:
          = link_to 'https://github.com/booz-allen-hamilton/projectjellyfish', class: 'btn btn--logo' do
            = image_tag("logo-github.svg")
          = link_to 'https://supermarket.chef.io/users/boozallenhamilton', class: 'btn btn--logo' do
            = image_tag("logo-chef.svg")
          = link_to 'http://manageiq.org/', class: 'btn btn--logo' do
            = image_tag("logo-manage.svg")
          %p.tsxs
            Current version: 2.4.1b
            %span.mls.mrs.tcs|
            = link_to 'Read the documentation', '#'

    .jellyfish-header.jellyfish--feature#features
      = image_tag("jellyfish-features.jpg")
      %h2 Features
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-lock.svg")
          %h5 Open Source
          %p.mbs.tss
            With proprietary solutions, users are at the mercy of a single vendor’s product roadmap and licensing strategy. By removing company boundaries associated with proprietary solutions, developers can participate, debate, collaborate, and promote further innovation to produce quality code while avoiding vendor lock-in.
          %p.twb Avoid Vendor Lock-In
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-community.svg")
          %h5 Community-Driven
          %p.mbs.tss
            Not all open source projects are created equal. Community-driven open source projects can rapidly adopt and respond to evolving technologies by leverage participation/expertise from its community, represented by developers, users of various public and commercial sector organizations, academia, and vendors.
          %p.twb Leverage Community's Expertise
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modular
          %p.mbs.tss
            Extensible and modular framework allows  developers to easily infuse new technologies and build additional plug-and-play interfaces without comprising the core architecture design.
          %p.twb Change Functionalities Without&nbsp;Rearchitecting
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-manage.svg")
          %h5 Flexible
          %p.mbs.tss
            One of the greatest costs to an IT organization is people AND inconsistent or timely processes.  Broker platforms can be configured to provide automation throughout the entire lifecycle of a cloud service.
          %p.twb Customizable Automation

    .jellyfish-header.jellyfish--anatomy
      = image_tag("jellyfish-anatomy.jpg")
      %h3 Anatomy of Project Jellyfish
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-core.svg")
          %h5 Core
          %p.tss
            The Jellyfish Core is a system that IT administrators an setup to offer a service catalog, collect specific information about an item when ordering, and then take that data and transform it to JSON and POST it to a URL.  Jellyfish Core consists of node-js, UX/UI, front-end and a Ruby on Rails back-end accessible via REST API.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modules
          %p.tss
            A module would be considered an add-on or plug-in to the Jellyfish core.  It allows the creation of new data to be pulled from an external systems API, and/or that data to be processed in a specific way.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-mobile.svg")
          %h5 Mobile App
          %p.tss
            The Jellyfish app mirrors Jellyfish functionality for mobile devices.  The app interfaces with Jellyfish core via the REST API providing basic functionality such as catalog and project status.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-blueprint.svg")
          %h5 Blueprints
          %p.tss
            A Jellyfish blueprint is a packaged solution that formulates how to take the core jellyfish product, combine with other tools, install, configure and use for a specific problem or use case such as automated PaaS or data analytics.

    .cell.mbl#how-to-engage
      .jellyfish-header.jellyfish--engage
        = image_tag("jellyfish-engage.jpg")
    %h3 How to Engage
    .cell
      %p.tss
        For any questions or to request for a demo, you can contact us directly by completing the short form below. We promise that it won’t be used for spam.
      %form#form1.wufoo.topLabel.page{"accept-charset" => "UTF-8", :action => "https://projectjellyfish.wufoo.com/forms/z1qwvb2d1do31v9/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
        .g.mbs
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#name{type: 'text', name: 'Field1', required: 'required'}
              %label.input-label{for: 'Field1'} Full Name
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#email{type: 'text', name: 'Field2', required: 'required'}
              %label.input-label{for: 'Field2'} Email
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#organization{type: 'text', name: 'Field3', required: 'required'}
              %label.input-label{for: 'Field3'} Organization
        .cell.cell--s
          %input.btn{type: 'submit', value: 'Make Request'}
          %input#idstamp{:name => "idstamp", :type => "hidden", :value => "iRiCDpzIFOFs+E2daYphj6B22pLJGGoK2VgYJ1P6qAo="}


    %p .
    %p .
    %h3 Partners
    .cell.cell
      %p.tss
        Project Jellyfish would not exist without the support
        of our growing numbers of individual and
        corporate&nbsp;contributors.
    %ul.logo.logo--list
    = link_to 'Learn more about how your company can help.', '/documentation/get-involved/how-to-contribute'

  = partial "shared/footer"
